* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: thin; /* "auto", "thin", atau "none" */
  scrollbar-color: #36ba98 #1b1b1b; /* thumb dan track */
}

/* Custom Scrollbar untuk browser berbasis WebKit */
::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
  height: 8px; /* Tinggi scrollbar (untuk horizontal scroll) */
}

::-webkit-scrollbar-track {
  background: #1b1b1b; /* Warna track, misalnya warna gelap sesuai tema */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #36ba98; /* Warna thumb sesuai tema */
  border-radius: 4px;
  border: 2px solid #1b1b1b; /* Memberi ruang agar thumb terlihat lebih rapih */
}

::-webkit-scrollbar-thumb:hover {
  background: #2ca083; /* Sedikit lebih gelap saat hover */
}

body {
  background: linear-gradient(to bottom, #2d2d2d, #1a1a1a);

  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1536px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
